<mat-toolbar-row>
    <div class="gambito-toolbar-left">            
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Buscar card" #box value="">
            <span class="material-icons">search</span>
        </mat-form-field>
    </div>
    <div class="gambito-toolbar-right">
        <button mat-fab color="primary" class="gambito-toolbar-button">
            <mat-icon>add</mat-icon>
        </button>  
    </div>          
</mat-toolbar-row>
<div class="boxes-container">
    <div class="box-head-container">
        <div class="box-head">Prioridad Alta</div>
        <div class="box-head">Prioridad Media</div>
        <div class="box-head">Prioridad Baja</div>
    </div>
    <div class="box-content-container">
        <div class="box-content" data-value="1">
            <div class="box-card">
                <div class="box-card-title">
                    Titulo
                </div>
                <div class="box-card-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </div>
                <div class="box-card-footer">

                </div>
            </div>
        </div>
        <div class="box-content" data-value="2"></div>
        <div class="box-content" data-value="3"></div>
    </div>
</div>
